html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  display: block;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  padding: 0px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.mySkillsContainer,
.projects,
.contactContainer {
  padding: 30px;
}
.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.titleh2 {
  padding-left: 30px;
  position: relative;
  display: inline-block;
}

.titleh2 span {
  position: relative;
  display: inline-block;
}
.titleh2 span::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 50%;
  background-color: #008b7a !important;
  z-index: -1;
  top: 60%;
  left: 10%;
}

.emailIcon {
  color: #008b7a;
  font-size: 100px;
  text-decoration: none;
  margin-top: 10px;
}

.emailText {
  color: #1a3838;
  font-size: 50px;
  text-decoration: none;
  margin-left: 10px;
}

.emailIcon:hover {
  color: #1a3838;
}

.iconStyle {
  cursor: pointer;
}

.emailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 960px) {
  h2 {
    font-size: 35px;
  }

  .emailIcon {
    font-size: 80px;
  }

  .emailText {
    font-size: 40px;
  }

  .contactContainer {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }

  .emailIcon {
    font-size: 60px;
  }

  .emailText {
    font-size: 30px;
  }

  .titleh2 {
    padding-left: 20px;
  }

  .titleh2 span::before {
    width: 100%;
    left: 0;
  }
  .contactContainer {
    padding: 10px 50px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 25px;
  }

  .emailIcon {
    font-size: 50px;
  }

  .emailText {
    font-size: 25px;
  }

  .titleh2 {
    padding-left: 10px;
  }

  .titleh2 span::before {
    width: 100%;
    left: 0;
  }
  .contactContainer {
    padding: 10px 40px;
  }
}
