html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
  font-family: "Poppins", sans-serif;
  background: #121e27;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  padding: 0px, 50px;
}

.container {
  background-color: white;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* Center the container */
  padding: 0;
}

.titleh2 {
  padding-left: 20px;
  position: relative;
  display: inline-block;
}

.titleh2 span {
  position: relative;
  display: inline-block; /* Ensures the span's width matches its content */
}
.titleh2 span::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 50%;
  background-color: #66ffe0 !important;
  z-index: -1;
  top: 60%;
  left: 10%;
}
/* Hero with the colourful door*/
.hero {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-image: linear-gradient(
      rgba(18, 30, 39, 0.4),
      rgba(18, 30, 39, 0.6)
    ),
    url("../assets/images/efe-kurnaz-RnCPiXixooY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 50px;
}

/* Hero with the cables */
/* .hero {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../assets/images/jj-ying-8bghKxNU1j0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 50px;
} */

.hero h1,
.hero h2,
.hero h3 {
  margin: 30px 0;
  line-height: 1;
}

.hero h1 {
  font-weight: 700;
  font-size: 96px;
}

.hero h2 {
  font-weight: 400;
  font-size: 40px;
}

.hero h3 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0; /* Reset margin for h3 specifically */
}

.mySkillsContainer {
  display: grid;
  grid-template-areas:
    "title title"
    "profile skills"
    "profile bio";
  grid-template-columns: 1fr 2fr;
  background-color: white;
}

.mySkillsContainer h2 {
  grid-area: title;
  position: relative;
  z-index: 1;
}

.skillsTitle {
  margin: 30px 0px;
}

.profileAndSkills {
  display: contents;
}

.profile {
  grid-area: profile;
  max-width: 600px;
  padding: 0 60px;
}

.profile img {
  border-radius: 30px;
}

.techskills {
  grid-area: skills;
}

.techskills,
.techskills ol {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
  list-style-type: none;
  row-gap: 0;
}

.techskills li {
  background: #121e27;
  padding: 5px 10px;
  margin: 2px;
  color: aliceblue;
  height: 30px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio {
  grid-area: bio;
}

.text-center {
  text-align: center;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.mySkillsContainer,
.projects,
.contactContainer {
  margin-bottom: 30px;
}

/*.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-footer {
  grid-template-columns: 1fr 2fr 1fr;
}



.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card {
  background: white;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}
.instagram-embed {
  margin: 30px 0;
  text-align: center;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background: #f8f8f8;
}

.homepageBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  color: #1a3838;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  text-decoration: none;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #1a3838;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #1a3838;
  margin: 0;
}
main h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #1a3838;
  margin: 0;
}

main h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main p {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #1a3838;
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/097/599/original/giammarco-boscaro-q140lHKzXZY-unsplash.jpg?1695109536");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  blockquote {
    margin: auto 0;
    display: block;
  }
  .container {
    margin: 20px 10px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .card {
    margin: 20px 10px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
  .instagram-embed {
    margin: 20px 10px;
    overflow-x: auto;
    width: 100%;
  }
}
*/

/* portfolio '24 css before refactoring
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  font-family: "Poppins", sans-serif;
  background: #121e27;
}

.container {
  background-color: white;
  width: 100%;
  padding: 0;
  max-width: 1400px;
  margin: 0;
}

.hero {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../assets/images/jj-ying-8bghKxNU1j0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

.hero h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

.hero h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

.hero h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

.mySkillsContainer {
  display: grid;
  grid-template-areas:
    "title title"
    "profile skills"
    "profile bio";
  grid-template-columns: 1fr 2fr;
  background-color: white;
}

.mySkillsContainer h2 {
  grid-area: title;
}

.profileAndSkills {
  display: contents;
}

.profile {
  grid-area: profile;
  width: 100%;
  max-width: 600px;
  padding: 0 60px;
  border-radius: 50px;
}

.techskills {
  grid-area: skills;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); 
  gap: 10px; 
}

.techskills ol {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.techskills li {
  background: #121e27;
  padding: 5px 10px;
  margin: 5px;
  color: aliceblue;
}

.bio {
  grid-area: bio;
}


.text-center {
  text-align: center;
}

.img-responsive {
  display: block;
  width: 100%;
  height: 100%;
}
  */
