/* Navbar CSS */

.navBarContainer {
  background-color: #121e27;
  width: 100vw;
}

/* changes colour of navbar text */
.navBarContainer .navbar-brand,
.navBarContainer .nav-link {
  color: #ffffff !important;
}

.navbar-brand {
  padding-left: 30px;
}

/* Footer CSS */

.footerContainer {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "name social link";
  gap: 10px;
  width: 100%;
}

.name {
  grid-area: name;
  padding-left: 30px;
}

.socials {
  grid-area: social;
}
.icons {
  color: white;
  font-size: 50px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.linkslist {
  grid-area: link;
  display: flex;
  flex-direction: column;
}

.photoCredit {
  grid-area: photo;
  justify-content: center;
}

footer {
  background-image: linear-gradient(
      rgba(18, 30, 39, 0.9),
      rgba(18, 30, 39, 0.9)
    ),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/097/599/original/giammarco-boscaro-q140lHKzXZY-unsplash.jpg?1695109536");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* opacity: 0.7; */
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  margin-top: 20px;
  /* opacity: 0.7; */
}
footer a:visited {
  color: white;
}

footer ol {
  margin-top: 20px;
  display: block;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
}

@media (max-width: 960px) {
  .navBarContainer {
    background-color: #ffffff;
    width: 100%;
    color: #ffffff;
  }
  .navbar-brand {
    margin-left: 30px;
    white-space: nowrap;
    color: #ffffff !important;
  }
  .navbar-toggler {
    border: none;
  }
}

@media (max-width: 768px) {
  .background {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* Navbar CSS */
  .navBarContainer {
    background-color: #ffffff;
    width: 100%;
    color: #121e27;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .navbar-brand {
    white-space: nowrap;
    color: #121e27;
  }
  .navbar-toggler {
    border: none;
  }

  .collapse.navbar-collapse {
    color: #ffffff;
  }

  /* Footer CSS */

  .footerContainer {
    text-align: center;
    width: 100%;
  }

  .name {
    padding: 0;
  }
  .linksList {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }

  .linksList li {
    width: 100%;
    padding: 5px 0;
    align-items: center;
  }

  .linksList ol {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .background {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* Navbar CSS */
  .navBarContainer {
    background-color: #ffffff;
    width: 100%;
    color: #121e27;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .navbar-brand {
    white-space: nowrap;
    color: #121e27;
  }
  .navbar-toggler {
    border: none;
  }

  .collapse.navbar-collapse {
    color: #ffffff;
  }

  /* Footer CSS */

  .footerContainer {
    text-align: center;
    width: 100%;
  }

  .name {
    padding: 0;
  }
  .linksList {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }

  .linksList li {
    width: 100%;
    padding: 5px 0;
    align-items: center;
  }

  .linksList ol {
    padding: 0;
    margin: 0;
  }

  .socials {
    gap: 20px;
  }
}

/* Media Queries for Responsiveness
@media (max-width: 1200px) {

 
}

@media (max-width: 960px) {
  
}

@media (max-width: 768px) {
  
  }


@media (max-width: 480px) {
  
} */
