.projectSummaries {
  background-color: white;
  padding: 20px;
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers the child elements horizontally */
  max-width: 1400px; /* Adjust based on your design preference */
  margin: auto; /* Centers the container in the middle of the page */
}

.project {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-areas:
    "h3 image"
    "title image"
    "stackList image"
    "summary image"
    "button image";
  gap: 10px;
  column-gap: 100px;
  align-items: start;
  justify-items: stretch;
}

.project h2 {
  grid-area: title;
  font-weight: 900px;
  font-size: 40px;
  line-height: 1.5;
  color: #1a3838;
  margin: 0;
}

.project h3 {
  grid-area: h3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
  color: #121e27;
}

.project .stackList {
  grid-area: stackList;
}

.project p {
  grid-area: summary;
}

.project img {
  grid-area: image;
  width: 400px;
  border-radius: 20px;
  margin-top: 35px;
}

.project button {
  grid-area: button;
  width: auto;
  max-width: fit-content;
  padding: 10px 20px;
  justify-self: left;
}
