.projectContainer {
  background-color: white;
}

.projectSummaries {
  padding: 20px;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
}

.project {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-areas:
    "h3 ."
    "title image"
    "stackList image"
    "summary image"
    "button image";
  gap: 10px;
  column-gap: 100px;
  align-items: start;
  justify-items: stretch;
}

.project h2 {
  grid-area: title;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.5;
  color: #1a3838;
  margin: 0;
}

.project h3 {
  grid-area: h3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  opacity: 0.6;
  text-transform: uppercase;
  margin: 0;
  color: #008b7a;
}

.project .stackList {
  grid-area: stackList;
}

.project p {
  grid-area: summary;
}

.imgContainer {
  grid-area: image;
}

.project img {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.project button {
  grid-area: button;
  width: auto;
  max-width: fit-content;
  padding: 10px 20px;
  justify-self: left;
}
button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #008b7a;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 139, 122, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 139, 122, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

.projectsTitle {
  margin: 30px 0;
}

.titleh2 {
  padding-left: 30px;
  position: relative;
  display: inline-block;
}

.titleh2 span {
  position: relative;
  display: inline-block;
}
.titleh2 span::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 50%;
  background-color: #66ffe0 !important;
  z-index: -1;
  top: 60%;
  left: 10%;
}

.card_box {
  max-width: 400px;
  height: 250px;
  border-radius: 20px;
  background: linear-gradient(
    170deg,
    rgba(58, 56, 56, 0.623) 0%,
    rgb(31, 31, 31) 100%
  );
  position: relative;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  transition: all 0.3s;
}

.card_box:hover {
  transform: scale(0.9);
}

/* .card_box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card_box span::before {
  content: "Premium";
  position: absolute;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(
    45deg,
    #ff6547 0%,
    #ffb144 51%,
    #ff7053 100%
  );
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.card_box span::after {
  content: "";
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
} */
