.mySkillsContainer {
  display: grid;
  grid-template-areas:
    "title title"
    "profile skills"
    "profile bio";
  grid-template-columns: 1fr 2fr;
  background-color: white;
  padding: 30px;
}

.mySkillsContainer h2 {
  grid-area: title;
  position: relative;
  z-index: 1;
}

.skillsTitle {
  margin: 30px 0px;
}

.profileAndSkills {
  display: contents;
}

.profile {
  grid-area: profile;
  max-width: 600px;
  padding: 0 60px;
  border-radius: 30px;
}

.techskills {
  grid-area: skills;
}

.techskills,
.techskills ol {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
  list-style-type: none;
  row-gap: 0;
}

.techskills li {
  background: #121e27;
  padding: 5px 10px;
  margin: 2px;
  color: aliceblue;
  height: 30px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio {
  grid-area: bio;
}

.biolink a {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
  color: #008b7a;
  text-decoration: none;
}

.biotitle {
  margin-bottom: 30px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
  .titleh2 {
    font-size: 48px;
  }
  .mySkillsContainer {
    grid-template-areas:
      "title"
      "profile"
      "skills"
      "bio";
    grid-template-columns: 1fr;
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }

  .profile {
    max-width: 100%;
    padding: 0 20px;
    border-radius: 40px;
  }
  .techskills {
    flex-direction: column;
    align-items: center;
  }

  .techskills,
  .techskills ol {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
  }

  .techskills li {
    width: auto;
    padding: 10px;
  }

  .bio {
    width: 100%;
    padding: 20px;
  }

  .bioLink a {
    font-size: 18px;
    letter-spacing: 2px;
  }

  .bioTitle {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .titleh2 {
    font-size: 36px;
  }
  .mySkillsContainer {
    grid-template-areas:
      "title"
      "profile"
      "skills"
      "bio";
    grid-template-columns: 1fr;
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }

  .profile {
    max-width: 100%;
    padding: 0 20px;
    border-radius: 40px;
  }
  .techskills {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
  }

  .techskills,
  .techskills ol {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .techskills li {
    width: auto;
    padding: 10px;
  }

  .bio {
    width: 100%;
  }

  .bioLink a {
    font-size: 18px;
    letter-spacing: 2px;
  }

  .bioTitle {
    margin-bottom: 20px;
  }
}
