.projectContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
}

.projectDetails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "type stack code live";
  padding-bottom: 30px;
}

.type {
  grid-area: type;
  display: flex;
  flex-direction: column;
}

.stack {
  grid-area: stack;
}

.code {
  grid-area: code;
}

.live {
  grid-area: live;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.projectDetailsText {
  font-size: 30px;
}

ol {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
  list-style-type: none;
  row-gap: 0;
  padding: 0;
}

li {
  background: #121e27;
  padding: 5px 10px;
  margin: 2px;
  color: aliceblue;
  height: 30px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #008b7a;
  font-weight: 500;
  font-size: 20px;
}

.spantext {
  color: #008b7a;
  font-weight: 500;
  font-size: 20px;
}
